 {{#each item}}

         <div class="title">
             <i class="dropdown icon"></i>
             <b>{{name}}</b>
         </div>
         <div class="content menu">
             {{> requestMenu }}
         </div>

 {{/each}}